<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Архитекторы Беларуси</title>
    <link rel="shortcut icon" href="../data/img/favicon.ico" type="image/png">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="mainContainer">
    <header>
        <a class="logo" href="#">Архитекторы Беларуси</a>
        <ul class="navigationList">
            <li><a href="#" id="mainLink">Главная</a></li>
            <li><a href="#" id="listLink">Список архитекторов</a></li>
            <li><a href="#authors" id="authorsLink">Авторы</a></li>
        </ul>

        <ul class="languagesList">
            <li>
                <button id="RuLang">Русский язык</button>
            </li>
            <li>
                <button id="BlrLang">Беларуская мова</button>
            </li>
            <li>
                <button id="EngLang">English language</button>
            </li>
        </ul>
    </header>
    <div class="portalInfo">
        <h2>Информация о портале:</h2>
        <p>Данный сайт является учебным проектом команды студентов школы "The Rolling Scopes".<br>
            На нашем портале вы сможете найти информацию об известных архитекторах Беларуси: их биографию,
            отследить деятельность и созданные ими проекты в удобном формате "Timeline", просмотреть фотогалерею зданий
            постороенных под их руководством,
            а так же видео об их деятельности или эпохи в которой они творили.<br><br>
            Мы надеемеся, что работа с нашим проектом принесет вам только положительные впечатления и вы найдете
            интересующую вас информацию.<br><br>
            C наилучшими пожеланиями "RS Dream Team".
        </p>
    </div>
    <h1 class="dayArh">Архитектор дня</h1>
    <div class="arhCard">
        <img class="arhImage" src="http://via.placeholder.com/300">
        <a class="arhLink" href="#">Петров Петр Петрович</a>
    </div>
<div class="arhListContainer">
    <h1>Список архитекторов</h1>
    <ul class="arhList">
        <li><img class="arhListImage" src="http://via.placeholder.com/300">
            <a class="arhListLink" href="#">Петров Петр Петрович</a>
            <h2>Гомель</h2></li>
        <li><img class="arhListImage" src="http://via.placeholder.com/300">
            <a class="arhListLink" href="#">Петров Петр Петрович</a>
            <h2>Гомель</h2></li>
        <li><img class="arhListImage" src="http://via.placeholder.com/300">
            <a class="arhListLink" href="#">Петров Петр Петрович</a>
            <h2>Гомель</h2></li>
        <li><img class="arhListImage" src="http://via.placeholder.com/300">
            <a class="arhListLink" href="#">Петров Петр Петрович</a>
            <h2>Гомель</h2></li>
        <li><img class="arhListImage" src="http://via.placeholder.com/300">
            <a class="arhListLink" href="#">Петров Петр Петрович</a>
            <h2>Гомель</h2></li>

    </ul>
</div>



    <a id="authors"></a>
    <footer>
        <h1>&copy; RS Dream Team 2019</h1>
        <ul class="authorsList">
            <li><img class="authorImg" src="http://via.placeholder.com/200"><h3>Anton Novicau</h3>
                <a href="#" target="_blank"><img class="gitLogo" src="../data/img/github.png"></a></li>
            <li><img class="authorImg" src="http://via.placeholder.com/200"><h3>Volha Lukyanenka</h3>
                <a href="#" target="_blank"><img class="gitLogo" src="../data/img/github.png"></a></li>
            <li><img class="authorImg" src="http://via.placeholder.com/200"><h3>Darya Shubianok</h3>
                <a href="#" target="_blank"><img class="gitLogo" src="../data/img/github.png"></a></li>
            <li><img class="authorImg" src="http://via.placeholder.com/200"><h3>Natallia Sirotka</h3>
                <a href="#" target="_blank"><img class="gitLogo" src="../data/img/github.png"></a></li>
            <li><img class="authorImg" src="http://via.placeholder.com/200"><h3>Yan Polyn</h3>
                <a href="#" target="_blank"><img class="gitLogo" src="../data/img/github.png"></a></li>
        </ul>
    </footer>
</div>

</body>
</html>